html {
    height: 100%;
    color-scheme: dark;
}

body {
    margin: 0;
    padding: 60px 0;
    min-height: 100vh;
    font-size: 1.15rem;
    line-height: 1.5;
    text-align: center;
    background-image: url('parking.jpg');
    background-size: cover;
    color: black;
}

img {
    max-width: 100%;
}

#page-title {
    margin: 0;
    padding: 0;
}

body>main {
    max-width: 800px;
    margin-inline: auto;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 40px;
}

ol {
    margin-left: 40px;
    text-align: left;
}

ol>li,
ol>li>h4 {
    margin: 0 0 20px 0;
}

li>h4 {
    font-weight: 400;
}

.comment {
    margin: 10px 0 20px 0;
    padding: 5px 10px;
    width: fit-content;
    border-radius: 10px;
    border: solid 1px #999999;
    color: rgb(54, 116, 164);
}

p.comment:empty {
    border: 0;
    background: transparent;
}

li>a {
    cursor: pointer;
}

.icon {
    width: 30px;
}